<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.cat.cofb.bbsaccess" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Presentation.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Presentation.ListActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.DetalleEventoActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.DetalleVotacionActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_detalle_votacion"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Presentation.DetallePreguntaActivity"
            android:configChanges="orientation"
            android:label="BBS Accés"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Presentation.QRViewActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Presentation.ListVotaEvActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Presentation.ListAdminActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Presentation.DetalleEventoAdminActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Presentation.AvisoLegalActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Presentation.ContacteActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Presentation.PerfilActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".Presentation.IdiomaActivity" >
        </activity>
    </application>

</manifest>
